@import "@material/button/mdc-button";

// ESTILOS GENERALES, REFACTOR

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

:host {
  --ui-button-min-width: 12rem;
  --ui-button-border-radius: 0.5rem;

  --ui-button-bg-color: #ffffff;
  --ui-button-bg-color-disabled: #f3f2f2;
  --ui-button-hover-color: #cbcbcb;
  --ui-button-text-color: #333333;
}

.mdc-button {
  min-width: var(--ui-button-min-width);
  font-size: 1rem;
  height: 3.5rem;
  @include mdc-button-shape-radius(var(--ui-button-border-radius));
  @include mdc-button-container-fill-color(var(--ui-button-bg-color));
  @include mdc-button-horizontal-padding(1.5rem);
  @include mdc-button-outline-color(red);
  &:hover {
    background: var(--ui-button-hover-color);
  }

  &:disabled {
    background-color: var(--ui-button-bg-color-disabled);
  }

  &:not(:disabled) {
    color: var(--ui-button-text-color);
  }

  .mdc-button__ripple {
    &::after,
    &::before {
      background-color: white;
    }
  }
}
